<div style="width: 70%; margin-left: 15%">
	<div style="text-align: center; background-color: #F3F5F7; padding: 1%">
		<h1>Petitchef</h1>
	</div>
	<div style="width: 70%; margin-left: 15%">
		<h2>Hi %username%,</h2>
		<br>You recently requested to reset your password for your
		Petitchef account (%ip%). Click the link below to reset it.<br>
		<br>
		<center>
			<a href="%host%/users/forgot/%forgotid%/%hash%">Reset your password</a>
		</center>
		<br>
		<br>If you did not request a password reset, please ignore this
		email or reply to let us know. This password reset is only valid for
		the next 30 minutes.
	</div>
	<br>
	<br>
	<div style="text-align: center; background-color: #F3F5F7; padding: 4%">
		© 2016 Petitchef.me. All rights reserved.<br>Petitchef - <a
			href="http://petitchef.me/">http://petitchef.me/</a>
	</div>
</div>
